<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <style>
        .container{
            background-color: antiquewhite;
        }
    </style>
</head>
<body>
    <div id="container">
    <h1>{{emailTemplate.title}}</h1>
    <p>{{emailTemplate.message}}</p>
    </div>
</body>
</html>
